PrettySecureCloud/PrettySecureCloud/PrettySecureCloud/Service References/LoginService/LoginService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PrettySecureCloud" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PrettySecureCloud" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrivateKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublicKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Services" nillable="true" type="tns:ArrayOfCloudService" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfCloudService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CloudService" nillable="true" type="tns:CloudService" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCloudService" nillable="true" type="tns:ArrayOfCloudService" />
  <xs:complexType name="CloudService">
    <xs:sequence>
      <xs:element minOccurs="0" name="LoginToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="tns:ServiceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CloudService" nillable="true" type="tns:CloudService" />
  <xs:complexType name="ServiceType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Secret" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceType" nillable="true" type="tns:ServiceType" />
  <xs:complexType name="ArrayOfServiceType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceType" nillable="true" type="tns:ServiceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceType" nillable="true" type="tns:ArrayOfServiceType" />
</xs:schema>