PrettySecureCloud/PrettySecureCloud/PrettySecureCloud/Service References/LoginService/LoginService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoginService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ILoginService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://prettysecurecloud.azurewebsites.net/LoginService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://prettysecurecloud.azurewebsites.net/LoginService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://prettysecurecloud.azurewebsites.net/LoginService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PrettySecureCloud" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoginService_UsernameUnique_InputMessage">
    <wsdl:part name="parameters" element="tns:UsernameUnique" />
  </wsdl:message>
  <wsdl:message name="ILoginService_UsernameUnique_OutputMessage">
    <wsdl:part name="parameters" element="tns:UsernameUniqueResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_EmailUnique_InputMessage">
    <wsdl:part name="parameters" element="tns:EmailUnique" />
  </wsdl:message>
  <wsdl:message name="ILoginService_EmailUnique_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmailUniqueResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="ILoginService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ILoginService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="ILoginService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_LoadAllServices_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadAllServices" />
  </wsdl:message>
  <wsdl:message name="ILoginService_LoadAllServices_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadAllServicesResponse" />
  </wsdl:message>
  <wsdl:portType name="ILoginService">
    <wsdl:operation name="UsernameUnique">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/UsernameUnique" message="tns:ILoginService_UsernameUnique_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/UsernameUniqueResponse" message="tns:ILoginService_UsernameUnique_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmailUnique">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/EmailUnique" message="tns:ILoginService_EmailUnique_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/EmailUniqueResponse" message="tns:ILoginService_EmailUnique_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/Register" message="tns:ILoginService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/RegisterResponse" message="tns:ILoginService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/Login" message="tns:ILoginService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/LoginResponse" message="tns:ILoginService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/Update" message="tns:ILoginService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/UpdateResponse" message="tns:ILoginService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadAllServices">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/LoadAllServices" message="tns:ILoginService_LoadAllServices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/LoadAllServicesResponse" message="tns:ILoginService_LoadAllServices_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILoginService" type="tns:ILoginService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UsernameUnique">
      <soap:operation soapAction="http://tempuri.org/ILoginService/UsernameUnique" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailUnique">
      <soap:operation soapAction="http://tempuri.org/ILoginService/EmailUnique" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/ILoginService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/ILoginService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/ILoginService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadAllServices">
      <soap:operation soapAction="http://tempuri.org/ILoginService/LoadAllServices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ILoginService" type="tns:ILoginService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ILoginService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UsernameUnique">
      <soap:operation soapAction="http://tempuri.org/ILoginService/UsernameUnique" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailUnique">
      <soap:operation soapAction="http://tempuri.org/ILoginService/EmailUnique" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/ILoginService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/ILoginService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/ILoginService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadAllServices">
      <soap:operation soapAction="http://tempuri.org/ILoginService/LoadAllServices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginService">
    <wsdl:port name="BasicHttpBinding_ILoginService" binding="tns:BasicHttpBinding_ILoginService">
      <soap:address location="http://prettysecurecloud.azurewebsites.net/LoginService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ILoginService" binding="tns:BasicHttpsBinding_ILoginService">
      <soap:address location="https://prettysecurecloud.azurewebsites.net/LoginService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>